{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel='stylesheet' href ="{%static 'css/tech.css' %}"/>
{% endblock style %}

{% block title %}
    기술 내역
{% endblock title %}

{% block content %}
        <div class="box2">
            <div class="box3">
                <img class="pic" src="{% static 'css/img2.png' %}" alt="노재민" />
                <div class="content">설명</div>
            </div>

            <div class="box3">
                <img class="pic" src="{% static 'css/img2.png' %}" alt="노재민" />
                <div class="content">설명</div>
            </div>

            <div class="box3">
                <img class="pic" src="{% static 'css/img2.png' %}" alt="노재민" />
                <div class="content">설명</div>
            </div>

            <div class="box3">
                <img class="pic" src="{% static 'css/img2.png' %}" alt="노재민" />
                <div class="content">설명</div>
            </div>
        </div>
        </br></br></br></br>
        </br></br></br></br>
{% endblock content %}    